extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Julian Johannesen: Full-Stack Web Developer
      p.lead.text-light
        | Welcome to my site. Feel free contact me with any questions.
      article.grid-container.portfolio-index  
        .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
          each project in data.projects
            .cell
              //-The first image in the array is the square image, 550x550
              - var thumb = project.image_urls[0].toLowerCase()
              a(href=`${project.id}`)
                img.thumbnail(src=`${thumb}`)
                h5= project.project_name
